# ignore coverage input folder, annotation folder and maf input folder content
cov_out/**
anno_ref/**
maf_out/**
maf_raw/**
mutsig_out/**
org_cov_maf/**
his_cov_maf/**
!/**/.gitkeep
proc_09152020/**
multitumor/**
old/**
.ipynb_checkpoints
cov_process/figure/**
cov_process/process_old/**
