# ignore coverage input folder, annotation folder and maf input folder content
out/**
!out/example/example_Lymph-BNHL/example-Lymph-BNHL.sig_genes.txt
!/**/.gitkeep
.ipynb_checkpoints
notebook/*
!notebook/*.ipynb
!notebook/*.py
manuscript/**
data/*
!data/.gitkeep
supp/*
