# ignore coverage input folder, annotation folder and maf input folder content
out/**
!/**/.gitkeep
.ipynb_checkpoints
notebook/figure1/**
notebook/figure4/**
notebook/figure5/**
manuscript/**
data/*
!data/.gitkeep
